{% extends "::base.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block description %}{{ entity.description }}{% endblock %}
{% block keywords %}{{ entity.keywords }}{% endblock %}
{% set active = 1 %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/main/js/chains.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="main">
    <div id="content">
        <div class="heading-page">
            <ul class="breadcrumbs">
                <li><a href="/">Главная</a></li>
                <li>Пиццерии</li>
            </ul>
            <div class="gholder">
                <h1>Пиццерии в Киеве</h1>
            </div>
            {#<form action="#" class="search">#}
                {#<fieldset>#}
                    {#<div class="cols-first">#}
                        {#<label for="find" class="find">Найти</label>#}
                        {#<div class="row">#}
                            {#<input class="text-input" type="text" id="find" value="Название" />#}
                            {#<input type="submit" value="Search" />#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="cols">#}
                        {#<label for="short" class="short">Сортировать</label>#}
                        {#<select id="short" class="select-short">#}
                            {#<option>по рейтингу</option>#}
                            {#<option>по рейтингу</option>#}
                        {#</select>#}
                    {#</div>#}
                {#</fieldset>#}
            {#</form>#}
        </div>
        <div class="top">
            <div class="heading">
                <span>Топ доставки</span>
                <a href="{{ path_city('_page_advertising',{'_city':_city,'_locale':_locale}) }}">Как попасть в топ?</a>
            </div>
            <div class="listing">
                {% for entity in entities if entity.getBranchsByLocale|length > 0 and entity.listTop == 1 %}
                    {{ include('MainBundle:Client:chain_item.html.twig', {'entity': entity }) }}
                {% else %}
                    <div class="gholder">
                        <div class="gframe">
                            <a href="{{ path_city('_page_advertising',{'_city':_city,'_locale':_locale}) }}">Здесь может быть ваша Пиццерия!</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="listing">
            {% for entity in entities if entity.getBranchsByLocale|length > 0 and entity.listTop != 1 %}
                {{ include('MainBundle:Client:chain_item.html.twig', {'entity': entity }) }}
            {% endfor %}
        </div>
    </div>
        {% render "MainBundle:PageLayout:sidebar" %}
    </div>
{% endblock %}
