{% extends "::base.html.twig" %}

{% block title %}{{ entity.titleDelivery }}{% endblock %}
{% block description %}{{ entity.descriptionDelivery }}{% endblock %}
{% block keywords %}{{ entity.keywordsDelivery }}{% endblock %}
{% set active = 2 %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/main/js/jquery.form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/comment.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="main">
        <div id="content">
            <div class="heading-page">
                <ul class="breadcrumbs">
                    <li><a href="/">Главная</a></li>
                    <li><a href="{{ path_city('_chain_list',{'_city':_city,'_locale':_locale}) }}">Пиццерии</a></li>
                    <li>{{ entity.name }}</li>
                </ul>
                {{ include('MainBundle:Client:chain_header.html.twig', {entityChain: entity}) }}
            </div>
            {{ include('MainBundle:Client:chain_menu.html.twig', {menu: 'delivery', entityChain: entity}) }}
            <div class="main-info">
                <div class="area-dostavka">
                    <div class="head">
                        {% if entity.getArrayPhonesDelivery|length > 0 %}
                            <div class="title">Телефоны и районы доставки</div>
                        {% endif %}
                        {% if entity.site != "" %}
                            <div class="orders">
                                <strong>Онлайн-заказ:</strong>
                                    <a href="http://{{ entity.site }}" target="_blank" rel="nofollow" class="link"><span>{{ entity.site }}</span></a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="area-info">
                        {% if entity.getArrayPhonesDelivery|length > 0 %}
                            <div class="holder">
                                <ul class="tel">
                                    {% for phone in entity.getArrayPhonesDelivery %}
                                        <li>{{ phone.phone }}</li>
                                    {% endfor %}
                                </ul>
                                <ul class="adres">
                                    {% for phone in entity.getArrayPhonesDelivery %}
                                        <li>{{ phone.adress }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if entity.getTextDelivery != "" %}
                            <div class="total">{{ entity.getTextDelivery }}</div>
                        {% endif %}
                        <div class="rating-total">
                            <strong>Рейтинг доставки</strong>
                            <div class="gholder">
                                <ul class="stars">
                                    {% for i in 1..5 %}
                                        <li class="ico-star {% if i > entity.getStarsByMaxRating(maxRatingDelivery) %} ico-star-empty{% endif %}"></li>
                                    {% endfor %}
                                </ul>
                                <div class="com-total">{{ entity.getCommentsDelivery|length }}</div>
                                <a href="#" onclick="return commentController.goToComments();" ><span>Оставить отзыв</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                {{ include('MainBundle:Client:photos_block.html.twig', {entitiesPhoto: entity.getPhotos}) }}
                {% if comments|length > 0 %}
                    <div class="last-comment" id="commentsList">
                        <div class="heading">
                            <h2>Отзывы о доставке от {{ entity.name }}</h2>
                            <a href="{{ path_city('_chain_comments',{'chain_url':entity.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}">Все отзывы о Мамамиа</a>
                        </div>
                        <ul>
                            {% for comment in comments %}
                                {{ include('MainBundle:Client:comment_item.html.twig', {'comment': comment, 'entity':entity }) }}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="add-comment">
                    <div class="heading">
                        <h2>Добавить отзыв</h2>
                    </div>
                    <form action="{{ path('_add_comment',{ 'item':entity.id }) }}" method="POST" id="some_form">
                        <fieldset>
                            <div class="area">
                                <div class="cols">
                                    <label for="name">Ваше имя <span>*</span></label>
                                    <input class="text-input" id="name" type="text" value="Имя" name="name"/>
                                    <input class="text-input" id="last_name" type="text" value="" name="last_name"/>
                                    <span class="error-text"></span>
                                </div>
                                <div class="cols">
                                    <label for="email">Электронная почта <span>*</span></label>
                                    <input class="text-input" id="email" type="text" value="vash@mail.com" name="email"/>
                                    <span class="error-text"></span>
                                </div>
                            </div>
                            <div class="textarea">
                                <label for="comment">Отзыв <span>*</span></label>
                                <textarea id="comment" cols="30" rows="10" name="text">Введите ваш комментарий</textarea>
                                <span class="error-text"></span>
                            </div>
                            <div class="mark">
                                <strong>Ваша оценка</strong>
                                <ul class="star-rating">
                                    <li><a href="#" title="Rate this 1 star out of 5" class="one-star">1</a></li>
                                    <li><a href="#" title="Rate this 2 stars out of 5" class="two-stars">2</a></li>
                                    <li><a href="#" title="Rate this 3 stars out of 5" class="three-stars">3</a></li>
                                    <li class="active"><a href="#" title="Rate this 4 stars out of 5" class="four-stars">4</a></li>
                                    <li><a href="#" title="Rate this 5 stars out of 5" class="five-stars">5</a></li>
                                </ul>
                            </div>
                            <div class="footer">
                                <input type="hidden" value="3" name="type">
                                <input type="hidden" value="4" name="rating" id="stars_rating">
                                <input type="submit" value="Добавить отзыв"/>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        {% render "MainBundle:PageLayout:sidebar" %}
    </div>
{% endblock %}
