{% extends "::base.html.twig" %}

{% block title %}Акции пиццерии {{ entityChain.name }}{% endblock %}
{% block description %}Список всех акции которые действуют в пиццерии {{ entityChain.name }} города Киева{% endblock %}
{% block keywords %}{% endblock %}
{% set active = 2 %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="main">
        <div id="content">
            <div class="heading-page">
                <ul class="breadcrumbs">
                    <li><a href="/">Главная</a></li>
                    <li><a href="{{ path_city('_chain_list',{'_city':_city,'_locale':_locale}) }}">Пиццерии</a></li>
                    <li>{{ entityChain.name }}</li>
                </ul>
                {{ include('MainBundle:Client:chain_header.html.twig', {entityChain: entityChain}) }}
            </div>
            {{ include('MainBundle:Client:chain_menu.html.twig', {menu: 'menu', entityChain: entityChain}) }}
            <div class="main-info">
                <div class="actions-list">
                <div class="gholder">
                    {% for item in items.records %}
                        <div class="box" style="width: 184px; float:left;">
                            <div class="img-holder">
                                <a href="">
                                    <img src="http://1001pizza.com.ua{{ item.image }}" alt="{{ item.title }}" style="width: 184px;" height="161"/>
                                </a>
                            </div>
                            <h2><a href="">{{ item.title }}</a></h2>
                            <p>от <a href="">{{ entityChain.name }}</a></p>
                        </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
        {% render "MainBundle:PageLayout:sidebar" %}
    </div>
{% endblock %}
