{% extends "::base.html.twig" %}

{% block title %}Меню пиццерии {{ entityChain.name }}{% endblock %}
{% block description %}Список всех пицц которые можно заказать в пиццерии {{ entityChain.name }} города Киева{% endblock %}
{% block keywords %}{% endblock %}

{% block chain_name_order %}{{ chainAPIInfo.title }}{% endblock %}
{% block chain_status_order %}
    {{ chainAPIInfo.delivery }}
    {% if chainAPIInfo.discount > 0 %}
        <span class="discount_in_info">Скидка на Весь заказ {{ chainAPIInfo.discount }}%.</span>
    {% endif %}
{% endblock %}

{% set active = 2 %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/main/js/menu.js') }}"></script>
    <script>
        menu.setUrlGetItems('{{ path_city('_ajax_get_menu_items') }}');
        menu.setChainId({{ entityChain.id }});
        {#menu.setDiscount({{ chainAPIInfo.discount }});#}
    </script>
{% endblock %}

{% block body %}
    <div class="main">
        <div id="content" class="page-single-gallery">
            <div class="heading-page">
                <ul class="breadcrumbs">
                    <li><a href="/">Главная</a></li>
                    <li><a href="{{ path_city('_chain_list',{'_city':_city,'_locale':_locale}) }}">Пиццерии</a></li>
                    <li>{{ entityChain.name }}</li>
                </ul>
                {{ include('MainBundle:Client:chain_header.html.twig', {entityChain: entityChain}) }}
            </div>
            {{ include('MainBundle:Client:chain_menu.html.twig', {menu: 'menu', entityChain: entityChain}) }}
            <div class="main-info">
                <div class="actions-list">
                    <section id="options" class="clearfix">
                        <form action="#" class="search">
                            <fieldset>
                                <div class="cols">
                                    <select id="sort-direction" class="select-short option-set clearfix" data-option-key="sortAscending">
                                        <option value="0">От меньшего</option>
                                        <option value="1">От Большего</option>
                                    </select>
                                </div>
                                <div class="cols">
                                    <label for="sort-by" class="short">Сортировать</label>
                                    <select id="sort-by" class="select-short option-set clearfix" data-option-key="sortBy">
                                        <option value="price">по цене</option>
                                        <option value="weight">по весу</option>
                                        <option value="sizes">по размеру</option>
                                        <option value="name">по названию</option>
                                    </select>
                                </div>
                            </fieldset>
                        </form>
                        </section>
                    <div class="gallery-pizza" id="gallery-pizza">
                    </div>
                </div>
            </div>
        </div>
        {% render "MainBundle:PageLayout:sidebar" %}
    </div>
{% endblock %}
