{% extends "::base.html.twig" %}

{% block title %}Акции пиццерии {{ entityChain.name }}{% endblock %}
{% block description %}Список всех акции которые действуют в пиццерии {{ entityChain.name }} города Киева{% endblock %}
{% block keywords %}{% endblock %}
{% set active = 2 %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="main">
        <div id="content" class="page-single-gallery">
            <div class="heading-page">
                <ul class="breadcrumbs">
                    <li><a href="/">Главная</a></li>
                    <li><a href="{{ path_city('_chain_list',{'_city':_city,'_locale':_locale}) }}">Пиццерии</a></li>
                    <li>{{ entityChain.name }}</li>
                </ul>
                {{ include('MainBundle:Client:chain_header.html.twig', {entityChain: entityChain}) }}
            </div>
            {{ include('MainBundle:Client:chain_menu.html.twig', {menu: 'menu', entityChain: entityChain}) }}
            <div class="main-info">
            {#<div class="container">#}
                {#<div class="actions-list">#}
                <div class="actions-list">
                    <div class="gallery-pizza" style="margin: 0;">
                        {% for item in items.records %}
                            <div class="box" style="float: left;" id="item_{{ item.id }}"
                                 data-weight="{{ item.weight }}"
                                 data-size="{{ item.size }}"
                                 data-price="{{ item.price }}"
                                 data-title="{{ item.title }}"
                                    >
                                <div class="img-holder">
                                    <img src="http://1001pizza.com.ua{{ item.image }}" alt="{{ item.title }}" id="product_img_{{ item.id }}" width="184" height="161" alt="{{ item.title }}" />
                                    <div class="rating">
                                        <p>
                                            <span style="background: url(http://1001pizza.com.ua/app/skin/v2/images/weight.png) no-repeat 0 center; padding-left: 20px;">{{ item.weight }} г</span>
                                            <br/>
                                            <span style="background: url(http://1001pizza.com.ua/app/skin/v2/images/sizeBlock.png) no-repeat 0 center; padding-left: 20px;">{{ item.size }} см</span>
                                            <br/>
                                            <span style="background: url(/images/currency_dollar2.png) no-repeat -4px center; padding-left: 20px; height: 22px; color: green; font-weight: bold;">{{ item.price }} грн</span>
                                        </p>
                                    </div>
                                </div>
                                <h2><a href="#">{{ item.title }}</a></h2>
                                <p><a class="order_link" href="#order_from" onclick="order.addItemToBasket({{ item.id }})">Заказать</a></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                    {#<div class="gholder">#}
                        {#{% for item in items.records %}#}
                            {#<div class="box" style="width: 184px; float:left;">#}
                                {#<div class="img-holder">#}
                                    {#<a href="">#}
                                        {#<img src="http://1001pizza.com.ua{{ item.image }}" alt="{{ item.title }}" style="width: 184px;" height="161"/>#}
                                    {#</a>#}
                                {#</div>#}
                                {#<a href="">{{ item.title }}</a>#}
                            {#</div>#}
                        {#{% endfor %}#}
                    {#</div>#}
                    {#{{ chainAPIInfo.conditions }}<br/>#}
                    {#{{ chainAPIInfo.delivery }}<br/>#}
                    {#{{ chainAPIInfo.order_min }}<br/>#}
                    {#{{ chainAPIInfo.discount }}#}
                {#</div>#}
            {#</div>#}
            </div>
        </div>
        {% render "MainBundle:PageLayout:sidebar" %}
    </div>
{% endblock %}
