{% extends "::base.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block description %}{{ entity.description }}{% endblock %}
{% block keywords %}{{ entity.keywords }}{% endblock %}
{% set active = 3 %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/main/js/jquery.form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/comment.js') }}"></script>
    <script>
        var map;
        var openedWindow = false;
        function setMap()
        {
            {% for branch in entity.getBranchsByLocale(_locale) %}
                {% if loop.index == 1 %}
                    var mapOptions = {
                        center:new google.maps.LatLng({{ branch.lat }},{{ branch.lng }}),
                        zoom:13,
                        mapTypeId:google.maps.MapTypeId.ROADMAP,
                        scrollwheel:false
                    };
                    map = new google.maps.Map(document.getElementById("map-canvas"),
                            mapOptions);
                {% endif %}
                var marker = new google.maps.Marker({
                    map:map,
                    position:new google.maps.LatLng({{ branch.lat }},{{ branch.lng }}),
                    icon: new google.maps.MarkerImage(
                            '/images/marker.png',
                            new google.maps.Size(27,28)
                    )
                });
                attachSecretMessage(marker,'{{ branch.street }}', {{ branch.id }});
            {% endfor %}
        }
        function attachSecretMessage(marker, str, id)
        {
            var message = ["This","is","the","secret","message"];
            var infowindow = new google.maps.InfoWindow(
                    {
                        content: '<b>'+str+'</b>'
                    });

            google.maps.event.addListener(marker, 'click', function () {
                if (openedWindow)
                    openedWindow.close();
                openedWindow = infowindow;
                infowindow.open(map, marker);
                map.setCenter(marker.getPosition());
            });
            $('#li_branch_id_'+id).click(function(){
                if (openedWindow)
                    openedWindow.close();
                openedWindow = infowindow;
                infowindow.open(map, marker);
                map.setCenter(marker.getPosition());
                $('#li_branch_id_'+id).addClass('list-address_in_hover');
                $('#li_branch_id_'+id).parent().find('li').removeClass('list-address_in_hover');
            });
        }
        $(document).ready(function(){
            setMap();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="main">
        <div id="content">
            <div class="heading-page">
                <ul class="breadcrumbs">
                    <li><a href="/">Главная</a></li>
                    <li><a href="{{ path_city('_chain_list',{'_city':_city,'_locale':_locale}) }}">Пиццерии</a></li>
                    <li>{{ entity.name }}</li>
                </ul>
                {{ include('MainBundle:Client:chain_header.html.twig', {entityChain: entity}) }}
            </div>
            {{ include('MainBundle:Client:chain_menu.html.twig', {menu: 'all', entityChain: entity}) }}
            <div class="main-info">
            <div class="story">
                <div class="images">
                    <div>
                        {% if entity.getImageName %}
                            <img src="{{ vich_uploader_asset(entity, 'image') }}" width="175" height="69" alt="{{ entity.getImageName }}" />
                        {% else %}
                            <img src="/images/88x35.png" width="175" height="35" alt="default site logo 175x69" />
                        {% endif %}
                    </div>
                </div>
                <div class="holder">
                    <p>{{ entity.text }}</p>
                    {% if entity.site != "" %}
                        <a href="http://{{ entity.site }}" target="_blank" class="link">{{ entity.site }}</a>
                    {% endif %}
                </div>
                {#<div class="social">#}
                    {#<div class="s-holder"><a href="#"><img src="/images/social.gif" width="79" height="22" alt="image description" /></a></div>#}
                    {#<div class="s-holder"><a href="#"><img src="/images/social-02.gif" width="128" height="22" alt="image description" /></a></div>#}
                    {#<div class="s-holder"><a href="#"><img src="/images/social-03.gif" width="95" height="22" alt="image description" /></a></div>#}
                    {#<div class="s-holder"><a href="#"><img src="/images/social-04.gif" width="59" height="22" alt="image description" /></a></div>#}
                {#</div>#}
            </div>
            {{ include('MainBundle:Client:photos_block.html.twig', {entitiesPhoto: entity.getAllBranchPhotos}) }}
            {% if entity.getBranchsByLocale(_locale).count > 0 %}
                <div class="maps">
                    <div class="heading">
                        <h2>Пиццерии сети «{{ entity.name }}»  <span>({{ entity.getBranchsByLocale(_locale).count }})</span></h2>
                        <a href="{{ path_city('_branches_all',{'chain_url':entity.url, '_city':_city,'_locale':_locale}) }}">Все пиццерии сети</a>
                    </div>
                    <div class="adrress">
                        <div class="map" id="map-canvas"></div>
                        <div class="list-address">
                            <div class="scrollable-area">
                                <ul>
                                    {% for branch in entity.getBranchsByLocale(_locale) %}
                                        <li {% if loop.index == 1 %}class="list-address_in_hover"{% endif %}
                                                data-lat="{{ branch.lat }}"
                                                data-lng="{{ branch.lng }}"
                                                id="li_branch_id_{{ branch.id }}"
                                                >
                                            <div class="titles">
                                                <a href="{{ path_city('_branch_single',{'_city':_city,'_locale':_locale,'chain_url':entity.url,'branch_url':branch.url}) }}">{{ branch.street }}</a>
                                            </div>
                                            <div class="row">
                                                <ul class="stars">
                                                    {% for i in 1..5 %}
                                                        <li class="ico-star {% if i > branch.getStarsByMaxRating(maxRating) %} ico-star-empty{% endif %}"></li>
                                                    {% endfor %}
                                                </ul>
                                                <a class="comment-link" href="{{ path_city('_branch_single',{'_city':_city,'_locale':_locale,'chain_url':entity.url,'branch_url':branch.url}) }}#commentsList">{{ branch.getComments.count }}</a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="shadow"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if entity.getDiscountsByLocale(_locale).count > 0  %}
                <div class="actions">
                    <div class="heading">
                        <h2>Акции от «Мамамиа»</h2>
                    </div>
                    <div class="gholder">
                        {% for discount in entity.getDiscountsByLocale(_locale) %}
                            {% if loop.index < 4 %}
                                <div class="box">
                                    {% if discount.getImageName %}
                                        <img src="{{ vich_uploader_asset(discount, 'image') }}" width="193" height="119" alt="{{ discount.getImageName }}" class="thumb" />
                                    {% else %}
                                        <img src="images/img-19.jpg" width="193" height="119" alt="image description" class="thumb" />
                                    {% endif %}
                                    <h3>
                                        <a href="{{ path_city('_discount_single', { 'chain_url': entity.url, 'dis_url': discount.url, '_city':_city }) }}">{{ discount.name }}</a>
                                    </h3>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if comments|length > 0 %}
                <div class="last-comment" id="commentsList">
                    <div class="heading">
                        <h2>Последние отзывы</h2>
                        <a href="{{ path_city('_chain_comments',{'chain_url':entity.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}">Все отзывы</a>
                    </div>
                    <ul>
                        {% for comment in comments %}
                            {{ include('MainBundle:Client:comment_item.html.twig', {'comment': comment, 'entity':entity }) }}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="add-comment">
                <div class="heading">
                    <h2>Добавить отзыв</h2>
                </div>
                <form action="{{ path('_add_comment',{ 'item':entity.id }) }}" method="POST" id="some_form">
                    <fieldset>
                        <div class="area">
                            <div class="cols">
                                <label for="name">Ваше имя <span>*</span></label>
                                <input class="text-input" id="name" type="text" value="Имя" name="name"/>
                                <input class="text-input" id="last_name" type="text" value="" name="last_name"/>
                                <span class="error-text"></span>
                            </div>
                            <div class="cols">
                                <label for="email">Электронная почта <span>*</span></label>
                                <input class="text-input" id="email" type="text" value="jdfg93sad2@gmail.com" name="email"/>
                                <span class="error-text"></span>
                            </div>
                        </div>
                        <div class="textarea">
                            <label for="comment">Отзыв <span>*</span></label>
                            <textarea id="comment" cols="30" rows="10" name="text">Введите ваш комментарий</textarea>
                            <span class="error-text"></span>
                        </div>
                        <div class="mark">
                            <strong>Ваша оценка</strong>
                            <ul class="star-rating">
                                <li><a href="#" title="Rate this 1 star out of 5" class="one-star">1</a></li>
                                <li><a href="#" title="Rate this 2 stars out of 5" class="two-stars">2</a></li>
                                <li><a href="#" title="Rate this 3 stars out of 5" class="three-stars">3</a></li>
                                <li class="active"><a href="#" title="Rate this 4 stars out of 5" class="four-stars">4</a></li>
                                <li><a href="#" title="Rate this 5 stars out of 5" class="five-stars">5</a></li>
                            </ul>
                        </div>
                        <div class="about">
                            <strong>О чем ваш отзыв?</strong>
                            <em>Если вас не затруднит – уточните, пожалуйста, что именно вы прокомментировали: конкретную пиццерию «Мамамиа» по какому-либо адресу, службу доставки или сеть «Мамамиа» в целом.</em>
                            <div class="row">
                                <input id="radio1" class="radio" name="type" type="radio" checked="checked" value="2"/>
                                <label for="radio1">Сеть пиццерий «Мамамиа»</label>
                            </div>
                            <div class="row">
                                <input id="radio2" class="radio" name="type" type="radio" value="3"/>
                                <label for="radio2">Служба доставки пиццы</label>
                            </div>
                            {% if entity.getBranchsByLocale(_locale).count > 0 %}
                                <div class="row" onclick="$(this).find('input').attr('checked',true)">
                                    <input id="radio3" class="radio" name="type" type="radio" value="4"/>
                                    <label for="radio3">Пиццерия по адресу:</label>
                                    <select id="radio3" class="select-adress" name="branch">
                                        {% for branch in entity.getBranchsByLocale(_locale) %}
                                            <option value="{{ branch.id }}">{{ branch.street }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                        </div>
                        <div class="capcha">
                            {#<label for="capcha">Введите сумму цифр <span>*</span></label>#}
                            {#<div class="input">#}
                                {#<span>3 + 2 =</span>#}
                                {#<input type="text" id="capcha" value="5" />#}
                            {#</div>#}
                        </div>
                        <div class="footer">
                            <input type="hidden" value="4" name="rating" id="stars_rating">
                            <input type="submit" value="Добавить отзыв"/>
                        </div>
                    </fieldset>
                </form>
            </div>
            </div>
        </div>
        {% render "MainBundle:PageLayout:sidebar" %}
    </div>
{% endblock %}
