{% extends "::base.html.twig" %}

{% block title %}{{ entity.getTitle }}{% endblock %}
{% block description %}{{ entity.getDescription }}{% endblock %}
{% block keywords %}{{ entity.getKeywords }}{% endblock %}
{% set active = 1 %}

{% if entityChain.getType == 3 or entityChain.getType == 2 %}
    {%  set chain_url = path_city('_chain_single',{'chain_url':entityChain.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) %}
{% elseif entityChain.getType == 1 %}
    {%  set chain_url = path_city('_chain__delivery_single',{'chain_url':entityChain.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) %}
{% endif %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/main/js/jquery.form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/comment.js') }}"></script>
    <script>
        function setMap()
        {
            var mapOptions = {
                center:new google.maps.LatLng({{ entity.lat }}, {{ entity.lng }}),
                zoom:13,
                mapTypeId:google.maps.MapTypeId.ROADMAP,
                scrollwheel:false
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),
                    mapOptions)

            var marker = new google.maps.Marker({
                map:map,
                position:map.getCenter(),
                icon: new google.maps.MarkerImage(
                    '/images/marker.png',
                    new google.maps.Size(27,28)
                )
            });
            google.maps.event.addListener(marker, 'click', function () {
            });
        }
        $(document).ready(function(){
            setMap();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="main">
        <div id="content">
            <div class="heading-page">
                <ul class="breadcrumbs">
                    <li><a href="/">Главная</a></li>
                    <li><a href="{{ path_city('_chain_list',{'_city':_city,'_locale':_locale}) }}">Пиццерии</a></li>
                    <li>
                        <a href="{{ chain_url }}">{{ entityChain.name }}</a>
                    </li>
                    <li>{{ entity.street }}</li>
                </ul>

                <div class="gholder">
                    <div class="title-adress">
                        <div class="image" style="height: auto;">
                            <div>
                                {% if entityChain.getImageName %}
                                    <img src="{{ vich_uploader_asset(entityChain, 'image') | apply_filter('chain_branch_page') }}" width="88" alt="{{ entityChain.getImageName }}"/>
                                {% else %}
                                    <img src="{{ 'images/303x208.png' | apply_filter('chain_branch_page') }}" width="88" alt="default site logo 88x35"/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="title-gholder">
                            <h1><a href="{{ chain_url }}">{{ entityChain.name }}</a></h1>
                            <div class="row">
                                <div>{{ entity.street }}</div>
                                <a href="{{ path_city('_branches_all',{'chain_url':entityChain.url, '_city':_city,'_locale':_locale}) }}">Все пиццерии сети - ({{ entityChain.getBranchsByLocale(_locale).count }})</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-info">
                <div class="more-address">
                    <div class="gholder">
                        {% if entitiesPhoto|length > 0 %}
                            <img src="{{ vich_uploader_asset(entitiesPhoto[0], 'image') }}" width="303" height="208" alt="{{ entitiesPhoto[0].altTeg }}" class="place" />
                        {% else %}
                            <img src="/images/303x208.png" width="303" height="208" alt="default site logo 303x208" class="place"/>
                        {% endif %}
                        <div class="gframe">
                            <div class="box">
                                <ul class="stars">
                                    {% for i in 1..5 %}
                                        <li class="ico-star {% if i > entity.getStarsByMaxRating(maxRating) %} ico-star-empty{% endif %}"></li>
                                    {% endfor %}
                                </ul>
                                <span class="sum">{{ comments|length }}</span>
                                <a href="#" onclick="return commentController.goToComments();" class="add"><span>Оставить отзыв</span></a>
                            </div>
                            {% if entity.getFeatures.count > 0 %}
                                <div class="osobennosti">
                                    <span class="text">Особенности</span>
                                    {% for feature in entity.getFeatures %}
                                        <span class="rss"  title="{{ feature.altTeg }}"
                                                style="background: url({{ vich_uploader_asset(feature, 'image') }}) no-repeat;"
                                                ></span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if entity.metro != '' %}
                                <div class="metro">{{ entity.metro }}</div>
                            {% endif %}
                            <div class="time">{{ entity.getWorkAt }}</div>
                            <div class="phone">{% for phone in entity.phones %}{{ phone }}{% endfor %}</div>
                        </div>
                    </div>
                    <p>{{ entity.text|raw }}</p>
                    {#<div class="social">#}
                        {#<div class="holder"><a href="#"><img src="/images/social.gif" width="79" height="22" alt="image description" /></a></div>#}
                        {#<div class="holder"><a href="#"><img src="/images/social-02.gif" width="128" height="22" alt="image description" /></a></div>#}
                        {#<div class="holder"><a href="#"><img src="/images/social-03.gif" width="95" height="22" alt="image description" /></a></div>#}
                        {#<div class="holder"><a href="#"><img src="/images/social-04.gif" width="59" height="22" alt="image description" /></a></div>#}
                    {#</div>#}
                </div>
                {{ include('MainBundle:Client:photos_block.html.twig', {entitiesPhoto: entitiesPhoto}) }}
                <div class="maps">
                    <div class="heading">
                        <h2>На карте</h2>
                    </div>
                    <div class="content-placeholder">
                        <div class="map-placeholder" id="map-canvas"></div>
                    </div>
                </div>
                {% if comments|length > 0 %}
                    <div class="last-comment" id="commentsList">
                        <div class="heading">
                            <h2>Последние отзывы</h2>
                            <a href="{{ path_city('_chain_comments',{'chain_url':entity.getChain.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}">Все отзывы о {{ entityChain.name }}</a>
                        </div>
                        <ul>
                            {% for comment in comments %}
                                {{ include('MainBundle:Client:comment_item.html.twig', {'comment': comment, 'entity':entity, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale() }) }}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="add-comment">
                    <div class="heading">
                        <h2>Добавить отзыв</h2>
                    </div>
                    <form action="{{ path('_add_comment',{ 'item':entity.getChain.id }) }}" method="POST" id="some_form">
                        <fieldset>
                            <div class="area">
                                <div class="cols">
                                    <label for="name">Ваше имя <span>*</span></label>
                                    <input class="text-input" id="name" type="text" value="Имя" name="name"/>
                                    <input class="text-input" id="last_name" type="text" value="" name="last_name"/>
                                    <span class="error-text"></span>
                                </div>
                                <div class="cols">
                                    <label for="email">Электронная почта <span>*</span></label>
                                    <input class="text-input" id="email" type="text" value="vash@mail.com" name="email"/>
                                    <span class="error-text"></span>
                                </div>
                            </div>
                            <div class="textarea">
                                <label for="comment">Отзыв <span>*</span></label>
                                <textarea id="comment" cols="30" rows="10" name="text">Введите ваш комментарий</textarea>
                                <span class="error-text"></span>
                            </div>
                            <div class="mark">
                                <strong>Ваша оценка</strong>
                                <ul class="star-rating">
                                    <li><a href="#" title="Rate this 1 star out of 5" class="one-star">1</a></li>
                                    <li><a href="#" title="Rate this 2 stars out of 5" class="two-stars">2</a></li>
                                    <li><a href="#" title="Rate this 3 stars out of 5" class="three-stars">3</a></li>
                                    <li class="active"><a href="#" title="Rate this 4 stars out of 5" class="four-stars">4</a></li>
                                    <li><a href="#" title="Rate this 5 stars out of 5" class="five-stars">5</a></li>
                                </ul>
                            </div>
                            <div class="footer">
                                <input type="hidden" value="{{ entity.id }}" name="branch"/>
                                <input type="hidden" value="4" name="type">
                                <input type="hidden" value="4" name="rating" id="stars_rating">
                                <input type="submit" value="Добавить отзыв"/>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        {% render "MainBundle:PageLayout:sidebar" %}
    </div>
{% endblock %}
