{% extends "MainBundle:PageLayout:base_admin.html.twig" %}
{% block javascripts %}
{% endblock %}
{% block body %}
    <h3>Редактирование сети - {{ entity.getName }}. Город - {{ current_city().getName() }}</h3>

    <form action="{{ path_city('admin_chain_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        {%-if entity.getImageName is not null-%}
            <img src="{{ vich_uploader_asset(entity, 'image') }}" alt="{{ entity.url }}" style="width: 150px; max-height: 200px;"/>
        {%-endif-%}
        <br/><br/>
        <br/>
        <p>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </p>
    </form>
    <div>
        <a href="{{ path_city('admin_chain') }}" class="btn btn-info" style="float: left; margin-right: 10px;">К списку</a>
        <form action="{{ path_city('admin_chain_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    </div>
{% endblock %}