{% extends "MainBundle:PageLayout:base_admin.html.twig" %}
{% block body %}
    <h3>Список сетей.</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Название</th>
                <th></th>
                <th></th>
                <th>Филиалы</th>
                <th>Акции</th>
                <th>
                    <a href="{{ path_city('admin_chain_new', {'_locale':'ru'}) }}" class="btn btn-primary">Добавить</a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path_city('admin_chain_edit', { 'id': entity.id }) }}">{{ entity.GetName }}</a>
                </td>
                <td>
                    <a href="{{ path_city('admin_chain_comments', { 'chain_id': entity.id, '_locale':'ru' }) }}" class="btn btn-small">Комментарии</a>
                </td>
                <td>
                    {%- if entity.getChildren.count > 0-%}
                        <a href="{{ path_city('admin_chain_edit', { 'id': entity.getChildren.first.id, '_locale':'en' }) }}">en</a>
                    {%- else -%}
                        <a href="{{ path_city('admin_chain_new', { 'id': entity.id, '_locale':'en' }) }}">en</a>
                    {%- endif -%}
                </td>
                <td>
                    <a href="{{ path_city('admin_branch', { 'chain_id': entity.id, '_locale':'ru' }) }}">Филиалы</a>
                </td>
                <td>
                    <a href="{{ path_city('admin_discount', { 'chain_id': entity.id, '_locale':'ru' }) }}">Акции</a>
                </td>
                <td>
                    <div>
                        <a href="{{ path_city('admin_chain_edit', { 'id': entity.id, '_locale':'ru'  }) }}" class="btn"><i class="icon-edit"></i></a>
                        {% if entity.getType == 3 or entity.getType == 2 %}
                            <a target="_blank" href="{{ path_city('_chain_single', { 'chain_url': entity.url, '_locale':'ru', '_city':_city }) }}" class="btn"><i class="icon-eye-open"></i></a>
                        {% else %}
                            <a target="_blank" href="{{ path_city('_chain__delivery_single', { 'chain_url': entity.url, '_locale':'ru', '_city':_city }) }}" class="btn"><i class="icon-eye-open"></i></a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}