{% set _city = app.request.session.get('_city') %}
{% set _locale = app.request.session.get('_locale') %}
{% set maxRating = get_max_rating_by_city() %}
{% set maxRatingDelivery = get_max_rating_delivery_by_city() %}
{% set maxRatingChain = get_max_rating_chain_by_city() %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="description" content="{% block description %}description{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}keywords{% endblock %}" />

        <link media="all" rel="stylesheet" type="text/css"  href="{{ asset('bundles/main/css/all.css') }}" />
        <link media="all" rel="stylesheet" type="text/css"  href="{{ asset('bundles/main/css/style.css') }}" />
        <link media="all" rel="stylesheet" type="text/css"  href="{{ asset('bundles/main/css/fancybox.css') }}" />
        {% block stylesheets %}{% endblock %}
        <script type="text/javascript" src="{{ asset('bundles/main/js/jquery-1.8.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/main/js/jquery.main.js') }}"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=ru">></script>

        <!--[if lt IE 8]>
        <meta http-equiv="refresh" content="0; url=html/index.html" />
        <![endif]-->

    </head>
    <body>
        {#{ _city }}
        <br/>
        {{ _locale }#}
        <div id="wrapper">
            {% render "MainBundle:PageLayout:header" with { 'active': active|default(0) } %}

            <div id="main">
                {% block body %}{% endblock %}
            </div>

            {% render "MainBundle:PageLayout:footer" with { 'active': active|default(0) } %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>