{% set _city = app.request.session.get('_city') %}
{% set _locale = app.request.session.get('_locale') %}
{% set maxRating = get_max_rating_by_city() %}
{% set maxRatingDelivery = get_max_rating_delivery_by_city() %}
{% set maxRatingChain = get_max_rating_chain_by_city() %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="description" content="{% block description %}description{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}keywords{% endblock %}" />

        <link media="all" rel="stylesheet" type="text/css"  href="{{ asset('bundles/main/css/all.css') }}" />
        <link media="all" rel="stylesheet" type="text/css"  href="{{ asset('bundles/main/css/style.css') }}" />
        <link media="all" rel="stylesheet" type="text/css"  href="{{ asset('bundles/main/css/fancybox.css') }}" />
        {% block stylesheets %}{% endblock %}
        <script type="text/javascript" src="{{ asset('bundles/main/js/jquery-1.8.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/main/js/jquery.main.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/main/js/jquery.maskedinput.min.js') }}"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=ru">></script>

        <script type="text/javascript" src="//vk.com/js/api/openapi.js?98"></script>

        <!--[if lt IE 8]>
        <meta http-equiv="refresh" content="0; url=html/index.html" />
        <![endif]-->
        <!-- VDS64 Domain code: 98c70464d02a8c6 -->
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <div id="wrapper">
            {% render "MainBundle:PageLayout:header" with { 'active': active|default(0) } %}

            <div id="main">
                {% block body %}{% endblock %}
            </div>

            {% render "MainBundle:PageLayout:footer" with { 'active': active|default(0) } %}
        </div>
        <script>
            var transl = {};
            var translEn = new Array();
            transl['А']='A';     transl['а']='a';
            transl['Б']='B';     transl['б']='b';
            transl['В']='V';     transl['в']='v';
            transl['Г']='G';     transl['г']='g';
            transl['Д']='D';     transl['д']='d';
            transl['Е']='E';     transl['е']='e';
            transl['Ё']='Yo';    transl['ё']='yo';
            transl['Ж']='Zh';    transl['ж']='zh';
            transl['З']='Z';     transl['з']='z';
            transl['И']='I';     transl['и']='i';
            transl['Й']='J';     transl['й']='j';
            transl['К']='K';     transl['к']='k';
            transl['Л']='L';     transl['л']='l';
            transl['М']='M';     transl['м']='m';
            transl['Н']='N';     transl['н']='n';
            transl['О']='O';     transl['о']='o';
            transl['П']='P';     transl['п']='p';
            transl['Р']='R';     transl['р']='r';
            transl['С']='S';     transl['с']='s';
            transl['Т']='T';     transl['т']='t';
            transl['У']='U';     transl['у']='u';
            transl['Ф']='F';     transl['ф']='f';
            transl['Х']='X';     transl['х']='x';
            transl['Ц']='C';     transl['ц']='c';
            transl['Ч']='Ch';    transl['ч']='ch';
            transl['Ш']='Sh';    transl['ш']='sh';
            transl['Щ']='Shh';    transl['щ']='shh';
            transl['Ъ']='"';     transl['ъ']='"';
            transl['Ы']='Y\'';    transl['ы']='y\'';
            transl['Ь']='\'';    transl['ь']='\'';
            transl['Э']='E\'';    transl['э']='e\'';
            transl['Ю']='Yu';    transl['ю']='yu';
            transl['Я']='Ya';    transl['я']='ya';

            $.each(transl, function(k, v){
                translEn[v] = k;
            });

            function translit2En(text)
            {
                var trans = transl;
                var result = '';

                if (text.match(/[A-z]/g)) {
                    trans = translEn;
                }

                for (i = 0; i < text.length; i++) {
                    if (trans[text[i]] != undefined) {
                        result += trans[text[i]];
                    } else {
                        result += text[i];
                    }
                }

                return result;
            }
        </script>
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" src="{{ asset('bundles/main/js/order.js') }}"></script>
        <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter24274378 = new Ya.Metrika({id:24274378, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/24274378" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
		{#<script type="text/javascript" charset="windows-1251" src="http://istat24.com/js/replace.js"></script>#}
		{#<script type="text/javascript">doReplaceIstat(254);</script>#}
        <link media="all" rel="stylesheet" type="text/css"  href="{{ asset('bundles/main/css/new_style.css') }}" />
        <!--noindex-->
            {% render "MainBundle:PageLayout:basket" with {  } %}
        <!--/noindex-->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-48935605-1', 'pizzza.com.ua');
            ga('send', 'pageview');

        </script>
    </body>
</html>
