{% extends "MainBundle:PageLayout:base_admin.html.twig" %}
{%- set chain = current_chain() -%}
{% block body %}
<h1>Publication edit</h1>

<form action="{{ path('admin_publication_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_publication') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('admin_publication_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
