{% extends "MainBundle:PageLayout:base_admin.html.twig" %}
{%- set chain = current_chain() -%}
{% block body %}
    <h3>Список публикаций</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Название</th>
                <th>Url</th>
                <th></th>
                <th>
                    <a href="{{ path_city('admin_publication_new') }}" class="btn btn-primary">Добавить</a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.url }}</td>
                <td>{{ entity.lang }}</td>
                <td>
                    <div>
                            {#<a href="{{ path_city('admin_publication_show', { 'id': entity.id }) }}">show</a>#}
                        <a href="{{ path_city('admin_publication_edit', { 'id': entity.id }) }}" class="btn"><i class="icon-edit"/> </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}