{% extends "MainBundle:PageLayout:base_admin.html.twig" %}
{% block javascripts %}
{% endblock %}
{%- set chain = current_chain()-%}
{% block body %}
    <h3>Редактирование пиццы {{ entity.name }}-  от пиццерии {{ chain.name }}</h3>

    <form action="{{ path('admin_item_edit', { 'id': entity.id, 'chain_id':chain.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        {%-if entity.getImageName is not null-%}
            <img src="{{ vich_uploader_asset(entity, 'image') }}" alt="{{ entity.url }}" style="width: 150px; max-height: 200px;"/>
        {%-endif-%}
        <br/><br/>
        <p>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </p>
    </form>

    <div>
        <a href="{{ path_city('admin_item', {'chain_id':chain.getId}) }}" class="btn btn-primary">К списку</a>
        {#<form action="&#123;&#35;{ path_city('admin_branch_delete', { 'id': entity.id, 'chain_id':chain.getId }) }&#35;&#125;" method="post">#}
        {#{{ form_widget(delete_form) }}#}
        <button type="submit" class="btn btn-danger">Удалить</button>
        {#</form>#}
    </div>
{% endblock %}