{% extends "::base.html.twig" %}

{% block title %}{{ entity.getTitle }}{% endblock %}
{% block description %}{{ entity.getDescription }}{% endblock %}
{% block keywords %}{{ entity.getKeywords }}{% endblock %}

{% set _city = app.request.session.get('_city') %}

{% set active = 3 %}

{% block body %}
    <div class="main">
        <div id="content">
            <div class="heading-page">
                <ul class="breadcrumbs">
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <a href="{{ path_city('_news_list',{'_city':_city,'_locale':_locale}) }}">Новости</a>
                    </li>
                    <li>{{ entity.name }}</li>
                </ul>
                <div class="gholder">
                    <h1>{{ entity.name }}</h1>
                </div>
            </div>
            <div class="main-info">
                <div class="actions-list publication publication-single">
                    <div class="single-article">
                        <div class="meta">
                            <em class="date">{{ entity.createdAt|date('d.m.Y') }}</em>
                            {#<a href="#" class="cat"><span>Рецепты</span></a>#}
                        </div>
                        {% if entity.getImageName %}
                            <img src="{{ vich_uploader_asset(entity, 'image') }}" width="626" height="261" alt="{{ entity.getImageName }}" class="thumb" />
                        {% endif %}
                        {{ entity.text|raw }}
                    </div>
                </div>
            </div>
            {% if entities|length > 0 %}
                <div class="another-article">
                    <div class="heading">
                        <h2>Предыдущие новости</h2>
                    </div>
                    <div class="content">
                        {% for public in entities %}
                            <div class="block">
                                {% if public.getImageName %}
                                    <img src="{{ vich_uploader_asset(public, 'image') }}" width="191" height="117" alt="{{ public.getImageName }}" class="thumb" />
                                {% endif %}
                                <h3>
                                    <a href="{{ path_city('_news_single',{'_city':_city,'_locale':_locale, 'url': public.url }) }}">{{ public.name }}</a>
                                </h3>
                                <em class="date">{{ public.createdAt|date('d.m.Y') }}</em>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        {% render "MainBundle:PageLayout:sidebar" %}
    </div>
{% endblock %}
