{% extends "::base.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block description %}{{ entity.description }}{% endblock %}
{% block keywords %}{{ entity.keywords }}{% endblock %}
{% set active = 4 %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="main">
        <div id="content">
            <div class="heading-page">
                <ul class="breadcrumbs">
                    <li><a href="/">Главная</a></li>
                    <li>Публикации</li>
                    <li>Новости</li>
                </ul>
                <div class="gholder">
                    <h1>Новости</h1>
                </div>
            </div>
            <ul class="navigation">
                <li class="active">
                    <a href="{{ path_city('_news_list',{'_city':_city,'_locale':_locale}) }}">
                        <strong>Новости</strong>
                    </a>
                </li>
                <li>
                    <a href="{{ path_city('_recipe_list',{'_city':_city,'_locale':_locale}) }}">
                        <strong>Рецепты</strong>
                    </a>
                </li>
                {#<li><a href="#"><strong>Статьи</strong></a></li>#}
                {#<li><a href="#"><strong>Обзоры</strong></a></li>#}
            </ul>
            <div class="main-info">
                <div class="actions-list publication">
                    {% for entity in pagination %}
                        <div class="gholder">
                            {% set urlF = path_city('_news_single',{'_city':_city,'_locale':_locale, 'url': entity.url }) %}
                            {% if entity.postType == 1 %}
                                {% set urlF = path_city('_interesting_single',{'_city':_city,'_locale':_locale, 'url': entity.url }) %}
                            {% endif %}
                            {% if entity.getImageName %}
                                <a href="{{ urlF }}">
                                    <img src="{{ vich_uploader_asset(entity, 'image') | apply_filter('publication_list') }}" style="max-width: 191px;" height="125" alt="{{ entity.getImageName }}" class="thumb" />
                                </a>
                            {% else %}
                                <img src="images/img-19.jpg" width="191" height="125" alt="image description" class="thumb" />
                            {% endif %}
                            <div class="holder">
                                <h2>
                                    <a href="{{ urlF }}">{{ entity.name }}</a>
                                </h2>
                                <p>{{ entity.shortText }}</p>
                                <div class="meta">
                                    <em class="date">{{ entity.createdAt|date('d.m.Y') }}</em>
                                    {#<a href="#" class="cat"><span>Рецепты</span></a>#}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {#{{ knp_pagination_render(pagination) }}#}
            </div>
        </div>
        {% render "MainBundle:PageLayout:sidebar" %}
    </div>
{% endblock %}
