{% extends "::base.html.twig" %}

{% block title %}{{ entity.getTitle }}{% endblock %}
{% block description %}{{ entity.getDescription }}{% endblock %}
{% block keywords %}{{ entity.getKeywords }}{% endblock %}

{% set _city = app.request.session.get('_city') %}

{% set active = 4 %}

{% block body %}
    <div class="main">
        <div id="content">
            <div class="heading-page">
                <ul class="breadcrumbs">
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <a href="{{ path_city('_recipe_list',{'_city':_city,'_locale':_locale}) }}">Рецепты</a>
                    </li>
                    <li>{{ entity.name }}</li>
                </ul>
                {#<div class="gholder">#}
                    {#<h1>{{ entity.name }}</h1>#}
                {#</div>#}
            </div>
            {#<div class="main-info">#}
                <div class="container container-text">
                    <h1>{{ entity.name }}</h1>
                    {#<div class="single-article">#}
                        {#<div class="meta">#}
                            {#<em class="date">{{ entity.createdAt|date('d.m.Y') }}</em>#}
                            {#<a href="#" class="cat"><span>Рецепты</span></a>#}
                        {#</div>#}
                        {% if entity.getImageName %}
                            <ul class="img-list">
                                <li>
                                    <img src="{{ vich_uploader_asset(entity, 'image') | apply_filter('publication_page') }}" style="max-width: 626px;" alt="{{ entity.getImageName }}"/>
                                </li>
                            </ul>
                        {% endif %}
                        <div style="height: 30px; width: 100%; margin: 0px 0px 10px 0px;">
                            <div style="float:left; display: block; width: 80px; margin-right: 20px">
                                <script type="text/javascript">
                                    VK.init({apiId: 2472043, onlyWidgets: true});
                                </script>
                                <!-- Put this div tag to the place, where the Like block will be -->
                                <div id="vk_like"></div>
                                <script type="text/javascript">
                                    VK.Widgets.Like("vk_like", {type: "mini"});
                                </script>
                            </div>
                            <div style="float:left; display: block; width: 100px; margin-right: 20px; padding-top: 1px;">
                                <div class="fb-like" data-width="50" data-layout="button_count" data-show-faces="false" data-send="false"></div>
                            </div>
                            <div style="float:left; display: block; width: 100px; margin-right: 20px; padding-top: 1px;">
                                <!-- Place this tag where you want the +1 button to render. -->
                                <div class="g-plusone" data-size="medium"></div>

                                <!-- Place this tag after the last +1 button tag. -->
                                <script type="text/javascript">
                                    window.___gcfg = {lang: 'uk'};

                                    (function() {
                                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                        po.src = 'https://apis.google.com/js/plusone.js';
                                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                    })();
                                </script>
                            </div>
                        </div>
                        {{ entity.text|raw }}
                        <h2>Ингредиенты</h2>
                        <div class="table-holder">
                            <table>
                                <tbody>
                                {% for ingredient in entity.getIngredients() %}
                                    <tr>
                                        <td>{{ ingredient.getIngredient.name }}</td>
                                        <td style="width: 480px;">{{ ingredient.count }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div style="margin-bottom: 15px;">
                            <script type="text/javascript"><!--
                                google_ad_client = "ca-pub-3861532892125732";
                                /* recipe_block_pizza */
                                google_ad_slot = "4328701676";
                                google_ad_width = 468;
                                google_ad_height = 60;
                                //-->
                            </script>
                            <script type="text/javascript"
                                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                            </script>
                        </div>
                        {{ entity.bigText|raw }}
                        <br/>
                        {#</div>#}
                    {#</div>#}
                </div>
            {#</div>#}
            {% if entities|length > 0 %}
                <div class="another-article">
                    <div class="heading">
                        <h2>Предыдущие рецепты</h2>
                    </div>
                    <div class="content">
                        {% for public in entities %}
                            <div class="block">
                                <a href="{{ path_city('_recipe_single',{'_city':_city,'_locale':_locale, 'url': public.url }) }}">
                                    {% if public.getImageName %}
                                        <img src="{{ vich_uploader_asset(public, 'image') | apply_filter('publication_list') }}" style="max-width: 191px;" height="125" alt="{{ public.getImageName }}" class="thumb" />
                                    {% else %}
                                        <img src="{{ 'images/303x208.png' | apply_filter('publication_list') }}" style="max-width: 191px;" height="125" alt="image description" class="thumb" />
                                    {% endif %}
                                </a>
                                <h3>
                                    <a href="{{ path_city('_recipe_single',{'_city':_city,'_locale':_locale, 'url': public.url }) }}">{{ public.name }}</a>
                                </h3>
                                <em class="date">{{ public.createdAt|date('d.m.Y') }}</em>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="another-article">
                <div id="disqus_thread" style="padding: 10px;"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'pizzzacomua'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
            </div>
        </div>
        {% render "MainBundle:PageLayout:sidebar" %}
    </div>
{% endblock %}
