{% set _city = app.request.attributes.get('_city') %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link media="all" rel="stylesheet" type="text/css"  href="{{ asset('bundles/main/admin/css/bootstrap.css') }}" />
        <link media="all" rel="stylesheet" type="text/css"  href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
        {% block stylesheets %}{% endblock %}
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>

        <!--[if lt IE 8]>
        <meta http-equiv="refresh" content="0; url=html/index.html" />
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/" target="_blank">PizZza.com.ua - {{ current_city().getName }} - {{ app.request.getLocale }}</a>
                    {% render 'MainBundle:PageLayout:city' with{'_city':_city}%}
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">Logged in as <a href="#" class="navbar-link">{{ app.user.username }}</a></p>
                        {#<ul class="nav">#}
                            {#<li class="active"><a href="#">Home</a></li>#}
                            {#<li><a href="#about">About</a></li>#}
                            {#<li><a href="#contact">Contact</a></li>#}
                        {#</ul>#}
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid" style="margin-top: 60px;">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Заведения</li>
                                <li>
                                    <a href="{{ path('admin_chain') }}">Сети</a>
                                </li>
                                {#<li>
                                    <a href="#">Филиалы</a>
                                </li>#}
                            <li class="nav-header">Публикации</li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Рецепты</a></li>
                                <li><a href="#">Статьи</a></li>
                                <li><a href="#">Обзоры</a></li>
                            <li class="nav-header">Общее</li>
                                <li><a href="{{ path('city') }}">Города</a></li>
                                <li><a href="{{ path('admin_feature') }}">Особенности</a></li>
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->
                <div class="span9">
                    <div class="hero-unit" style="padding: 20px;">
                        {% block body %}{% endblock %}
                    </div>
                </div><!--/span-->
            </div><!--/row-->
            <hr>
            <footer>
                <p>&copy; Админка 2013</p>
            </footer>
        </div><!--/.fluid-container-->

        <script src="{{ asset('bundles/main/admin/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script>
            $(function(){
                $('#cities').change(function() {
                    window.location = $(this).val();
                });
            });
        </script>
    </body>
</html>
