<link media="all" rel="stylesheet" type="text/css"  href="{{ asset('bundles/main/css/popup_order.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/main/css/scrollbars.css') }}" />

<script type="text/javascript" src="{{ asset('bundles/main/js/jquery.event.drag-2.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/main/js/mousehold.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/main/js/jquery.mousewheel.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/main/js/aplweb.scrollbars.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/main/js/popup_order.js') }}"></script>

<!--<div id="basket_box" style="">
    {% if price > 0 %}
        <p style="font-size: 16px;">
            <span style="color: orange;"><span id="items_count">{{ items|length }}</span> пицц</span> - <span><span id="money">{{ price }}</span> грн.</span>
        </p>
        <p class="order_link_to_basket">
            <a class="order_link" href="#order_from" rel="nofollow" style="color:#F46C1A!important;" onclick="_gaq.push(['_trackEvent', 'Ссылка', 'Переход','Заказ пиццы'])">Оформить заказ</a>
        </p>
    {% else %}
        <p style="font-size: 16px;">
            <span style="color: orange;">Закажи Пиццу<br/>ОНЛАЙН!!!</span>
        </p>
        <p class="array_partners">
            {% for item in partners %}
                <a href="{{ item.url }}#options" rel="nofollow" style="color:#F46C1A!important; display: block; margin-top: 15px;" onclick="_gaq.push(['_trackEvent', 'Ссылка', 'Переход','Заказ пиццы'])">{{ item.name }}{% if item.discount >0 %} <span class="discount_in_basket_box">со скидкой {{ item.discount }}%</span>{% endif %}</a>
            {% endfor %}
        </p>
    {% endif %}
</div>-->

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- popup -->
<div id="popup-order-overlay" style="display: none;"></div>
<div id="popup-order-wrap" style="display: none;">
    <div id="popup-order-outer">
        <a id="popup-order-close" href="#" >Закрыть</a>
        <div id="popup-order-content">
            <div class="list-order">
                <div class="list-order-content">
                    <div class="table-order titles-order">
                        <div class="tr-wrap">
                            <div class="td-col td-name">Пицца</div>
                            <div class="td-col td-number">Номер</div>
                            <div class="td-col td-count">Количество</div>
                            <div class="td-col td-price">Цена</div>
                            <div class="td-col td-del">Удалить</div>
                        </div>
                    </div>
                    <div class="list-container" id="list-container">
                        <div class="table-order body-order"></div>
                    </div>
                </div>
            </div>

            <div class="info-client-block">
                {#<div class="more-info-ckient">#}
                    {#<a href="#" class="show-list-edit"></a>#}
                    {#<div class="wrap-popup-menu">#}
                        {#<ul class="popup-menu-user">#}
                            {#<li><a href="#">Выйти</a></li>#}
                            {#<li><a href="#">Изменить данные...</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
                <div class="title-info">Информация о клиенте</div>
                <div class="login-client">
                    <a href="#" class="soc-links soc-fb" onclick="return order.hellLogin();">Facebook</a>
                    <a href="#" class="soc-links soc-vc">ВКонтакте</a>
                    <a href="#" class="soc-links soc-tw" onclick="hello( 'twitter' ).login();">Twitter</a>
                    <a href="#" class="soc-links soc-gp">Google+</a>
                </div>
                <div class="form-contact">
                    <form action="/ajax/pizza/order/" method="post" id="order_from">
                        <input type="text" id="name_order" name="name" value="" class="phone-fild" placeholder="ИМЯ"/>
                        <input id="phone_order"  name="phone" data-pattern="^0(50|63|66|67|68|91|93|94|95|97|98|99)\d{7}$" type="text" value="" class="email-fild"/>
                        <button class="send-btn" onclick="return order.submitOrder();"><span class="full-cost"><strong id="cost_new">0</strong> грн.</span> ЗАКАЗАТЬ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function()
    {
        $('.order_link').click(function() {
            order.getItems();
        });

        $('#popup-order-close').click(function(){
            $('#popup-order-overlay').hide();
            $('#popup-order-wrap').hide();

            return false;
        });

        order.setUrl('{{ path('_ajax_oder_pizza') }}');
        order.setUrlGetItems('{{ path('_ajax_get_pizzas') }}');
        order.setUrlRemoveItem('{{ path('_ajax_remove_item') }}');
    });
</script>