{% set _city = app.request.session.get('_city') %}
{% set _locale = app.request.session.get('_locale') %}
<div id="footer">
    <div class="gholder">
        <div class="contact">
            <a href="mailto:&#105;&#110;&#102;&#111;&#064;&#112;&#105;&#122;&#122;&#122;&#097;&#046;&#099;&#111;&#109;&#046;&#117;&#097;">
                &#105;&#110;&#102;&#111;&#064;&#112;&#105;&#122;&#122;&#122;&#097;&#046;&#099;&#111;&#109;&#046;&#117;&#097;</a>
            <span>Skype: <strong>pizzzacomua</strong></span>
        </div>
        <ul class="links">
            <li>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="{{ path_city('_chain_list',{'_city':_city,'_locale':_locale}) }}">Пиццерии</a></li>
                    <li><a href="{{ path_city('_delivery_list',{'_city':_city,'_locale':_locale}) }}">Доставка</a></li>

                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="{{ path_city('_discounts_list',{'_city':_city,'_locale':_locale}) }}">Акции</a></li>
                    <li><a href="{{ path_city('_page_map',{'_city':_city,'_locale':_locale}) }}">Карта</a></li>
                    <li><a href="{{ path_city('_news_list',{'_city':_city,'_locale':_locale}) }}">Новости</a></li>
                    {#<li><a href="#">Галерея пиццы</a></li>#}
                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="#">Реклама</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="{{ path_city('_recipe_list',{'_city':_city,'_locale':_locale}) }}">Рецепты</a></li>
                    {#<li><a href="#">Карта сайта</a></li>#}
                </ul>
            </li>
        </ul>
        <strong class="copy">&copy; PizZza.com.ua {{ dateYear }}</strong>
        <em class="warning">Использование материалов сайта допускается только с письменного разрешения администрации сайта.</em>
    </div>
</div>
