{% set _city = app.request.session.get('_city') %}
{% set _locale = app.request.session.get('_locale') %}
<div id="header">
	{% if banner > 3 %}
        <div class="top-images">
            {#<a href="http://pizzza.com.ua/discount/dominos/haleny_v%D1%96vtorok">#}
                {#<img src="/images/small-banner.png" width="192" height="80" alt="image description"/>#}
            {#</a>#}
            {#<img src="/images/img-01.jpg" width="192" height="80" alt="image description"/>#}
            {#<img src="/images/img-01.jpg" width="192" height="80" alt="image description"/>#}
            {#<img src="/images/img-01.jpg" width="192" height="80" alt="image description"/>#}
            {#<img src="/images/img-01.jpg" width="192" height="80" alt="image description"/>#}
            <script type="text/javascript"><!--
                google_ad_client = "ca-pub-3861532892125732";
                /* pizza_top */
                google_ad_slot = "7956236491";
                google_ad_width = 728;
                google_ad_height = 90;
                //-->
            </script>
            <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
            <img src="/pizzahouse-1.jpg" width="240" height="90" style="float:right; " alt="Баннер маленький пицца хауз заказ онлайн"/>
        </div>
	{% else %}
        <div class="top-images">
            <img src="/pizzahouse-2.jpg" width="980" height="90" alt="Баннер пицца хауз заказ онлайн"/>
        </div>
	{% endif %}
    <div class="gholder">
        <!--noindex-->
            <strong class="logo">
                <a href="{{ path_city('_page_index',{'_city':_city,'_locale':_locale}) }}" rel="nofollow">Pizzza</a>
            </strong>
        <!--/noindex-->
        <div class="description">
            <em>Все о пиццериях <br/>и доставке пиццы в Киеве</em>
        </div>
        <div class="header-sum comment-sum">
            <span>{{ commentsCount }}</span>
            <em>комментариев <br/> от посетителей</em>
        </div>
        <div class="header-sum catalog-sum">
            <span>{{ branchesCount }}</span>
            <em>пиццерий <br/>в каталоге</em>
        </div>
    </div>
    <ul id="nav">
        <li {% if active == 1 %}class="active"{% endif %}>
            <a href="{{ path_city('_chain_list',{'_city':_city,'_locale':_locale}) }}" class="pizza">Пиццерии</a>
        </li>
        <li {% if active == 2 %}class="active"{% endif %}>
            <a href="{{ path_city('_delivery_list',{'_city':_city,'_locale':_locale}) }}" class="dostavka">Доставка пиццы</a>
        </li>
        <li {% if active == 3 %}class="active"{% endif %}>
            <a href="{{ path_city('_discounts_list',{'_city':_city,'_locale':_locale}) }}">Акции</a>
        </li>
        <li {% if active == 4 %}class="active"{% endif %}><a href="javascript:void(0)">Публикации</a>

            <div class="drop">
                <ul>
                    <li>
                        <a href="{{ path_city('_news_list',{'_city':_city,'_locale':_locale}) }}">Новости</a>
                    </li>
                    <li>
                        <a href="{{ path_city('_recipe_list',{'_city':_city,'_locale':_locale}) }}">Рецепты</a>
                    </li>
                    {#<li><a href="#">Статьи</a></li>#}
                    {#<li><a href="#">Обзоры</a></li>#}
                </ul>
            </div>
        </li>
        <li {% if active == 5 %}class="active"{% endif %}><a href="{{ path_city('_page_map',{'_city':_city,'_locale':_locale}) }}">Карта</a></li>
        <li {% if active == 6 %}class="active"{% endif %}><a href="{{ path_city('_item_all',{'_city':_city,'_locale':_locale}) }}">Галерея пиццы</a></li>
    </ul>
</div>
