{% extends "::base.html.twig" %}

{% block title %}{{ entityPage.title }}{% endblock %}
{% block description %}{{ entityPage.description }}{% endblock %}
{% block keywords %}{{ entityPage.keywords }}{% endblock %}
{% set active = 6 %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="main">
        <div id="content">
            <div class="heading-page">
                <ul class="breadcrumbs">
                    <li><a href="/">Главная</a></li>
                    <li>Галерея пиццы</li>
                </ul>
                <div class="gholder">
                    <h1>Галерея пиццы</h1>
                </div>
                <form action="#" class="search">
                    <fieldset>
                        {#<div class="cols-first">#}
                            {#<label for="find" class="find">Найти</label>#}
                            {#<div class="row">#}
                                {#<input class="text-input" type="text" id="find" value="Название" />#}
                                {#<input type="submit" value="Search" />#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="cols">#}
                            {#<label for="short" class="short">Сортировать</label>#}
                            {#<select id="short" class="select-short">#}
                                {#<option>по рейтингу</option>#}
                                {#<option>по рейтингу</option>#}
                            {#</select>#}
                        {#</div>#}
                    </fieldset>
                </form>
            </div>
            <div class="gallery-pizza">
                <div class="holder">
                    {% for item in entities %}
                        <div class="box">
                            <div class="img-holder">
                                {%-if item.getImageName is not null-%}
                                    <a href="{{ path_city('_item_single', { 'chain_url': item.chain.url, 'item_url': item.url }) }}">
                                        <img src="{{ vich_uploader_asset(item, 'image') }}" alt="{{ item.url }}" style="width: 184px;" height="161"/>
                                    </a>
                                {%-endif-%}
                            </div>
                            <h2><a href="{{ path_city('_item_single', { 'chain_url': item.chain.url, 'item_url': item.url }) }}">{{ item.name }}</a></h2>
                            <p>от <a href="{{ path_city('_chain_single',{'chain_url':item.chain.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}">{{ item.chain.name }}</a></p>
                        </div>
                    {% endfor %}
                </div>
                {#<div class="paging">#}
                    {#<a href="#" class="prev">Prev</a>#}
                    {#<ul>#}
                        {#<li class="active"><span>1</span></li>#}
                        {#<li><a href="#">2</a></li>#}
                        {#<li><a href="#">3</a></li>#}
                        {#<li><a href="#">4</a></li>#}
                    {#</ul>#}
                    {#<a href="#" class="next">Next</a>#}
                {#</div>#}
            </div>
        </div>
        {% render "MainBundle:PageLayout:sidebar" %}
    </div>
{% endblock %}
