{% if pagination|length > 0  %}
    <div class="action" style="border-color: #f18442;">
        <div class="heading">
            <h2 style="color: darkred;">Акции пиццерий</h2>
            <a href="{{ path_city('_discounts_list',{'_city':app.request.attributes.get('_city'),'_locale':app.request.attributes.get('_locale')}) }}">Все акции</a>
        </div>
        <div class="tabs-area">
            <ul class="action-tabset">
                {% set i = 1 %}
                {% set j = 1 %}
                {% for item in pagination %}
                    {% if loop.index == j %}
                        <li {% if loop.first %}class="active"{% endif %}>
                            <a href="#tab-5{{ j }}">{{ i }}</a>
                        </li>
                        {% set j = j+4 %}
                        {% set i = i+1 %}
                    {% endif %}
                {% endfor %}
            </ul>
            {% set j = 1 %}
            <div class="tab-list">
                {% for item in pagination %}
                    {% if loop.index == j %}
                        <div class="tab" id="tab-5{{ j }}">
                        <div class="area">
                        {% set j = j+4 %}
                    {% endif %}
                    <div class="block">
                        <a href="{{ path_city('_discount_single', { 'chain_url': item.getChain.url, 'dis_url': item.url, '_city':app.request.attributes.get('_city') }) }}">
                            {% if item.getImageName %}
                                <img src="{{ vich_uploader_asset(item, 'image') | apply_filter('discount_index') }}" style="max-width: 200px" height="117" alt="{{ item.getImageName }}"/>
                            {% else %}
                                <img src="{{ 'images/303x208.png' | apply_filter('discount_index') }}" width="200" height="117" alt="image description"/>
                            {% endif %}
                        </a>
                        <h3><a href="{{ path_city('_discount_single', { 'chain_url': item.getChain.url, 'dis_url': item.url, '_city':app.request.attributes.get('_city') }) }}">{{ item.name }}</a></h3>
                        {% if item.getChain.type == 3 or item.getChain.type == 2 %}
                            <a href="{{ path_city('_chain_single',{'chain_url':item.getChain.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}" class="cat">{{ item.getChain.Name }}</a>
                        {% else %}
                            <a href="{{ path_city('_chain__delivery_single',{'chain_url':item.getChain.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}" class="cat">{{ item.getChain.Name }}</a>
                        {% endif %}
                    </div>
                    {% if loop.index == (j-1) or loop.last %}
                        </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endif %}