<div class="last-comment">
    <div class="heading">
        <h2>Последние отзывы</h2>
    </div>
    <ul>
        {% for entity in entities %}
            <li>
                <div class="meta">
                    <strong class="name">{{ entity.name }} <span>—</span></strong>
                    <a href="{{ path_city('_chain_single',{'chain_url':entity.chain.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}" class="link">{{ entity.chain.name }}</a>
                    <ul class="stars">
                        <li class="ico-star"></li>
                        <li class="ico-star"></li>
                        <li class="ico-star"></li>
                        <li class="ico-star ico-star-half"></li>
                        <li class="ico-star ico-star-empty"></li>
                    </ul>
                    <em class="date">{{ entity.createdAt | date('d.m.Y H:i') }}</em>
                </div>
                <span class="text">{{ entity.text |slice(0, 400) }} {% if entity.text|length > 400 %}...{% endif %}</span>
                <a href="{{ path_city('_chain_comments',{'chain_url':entity.chain.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}#comment_{{ entity.id }}" class="read">Читать отзыв</a>
            </li>
        {% endfor %}
    </ul>
</div>