{% set _city = app.request.session.get('_city') %}
{% set _locale = app.request.session.get('_locale') %}
<div class="last-news">
    <div class="heading">
        <h2>Последние публикации</h2>
        {#<a href="#">Все публикации</a>#}
    </div>
    <div class="center">
        <div class="article">

            {% set urlF = '/' %}
            {% set urlCatF = '/' %}
            {% set entityF =  entities[0] %}
            {% if entityF.type == types.news %}
                {% set urlF = path_city('_news_single',{'_city':_city,'_locale':_locale, 'url': entityF.url }) %}
                {% set urlCatF = path_city('_news_list',{'_city':_city,'_locale':_locale}) %}
            {% elseif entityF.type == types.recipe %}
                {% set urlF = path_city('_recipe_single',{'_city':_city,'_locale':_locale, 'url': entityF.url }) %}
                {% set urlCatF = path_city('_recipe_list',{'_city':_city,'_locale':_locale}) %}
            {% endif %}
            {% if entityF.getImageName %}
                <a href="{{ urlF }}">
                    <img src="{{ vich_uploader_asset(entityF, 'image')| apply_filter('publication_index') }}" style="max-width: 200px;" height="117" alt="{{ entityF.getImageName }}"/>
                </a>
            {% endif %}
            <h3>
                <a href="{{ urlF }}">{{ entityF.name }}</a>
            </h3>

            <p>{{ entityF.shortText }} ...</p>

            <div class="meta">
                <div class="cat"><a href="{{ urlCatF }}">{{ entityF.getTypeName }}</a></div>
                <em class="date">{{ entityF.createdAt| date('d.m.Y H:i') }}</em>
            </div>
        </div>
        <ul>
            {% for entity in entities|slice(1, 4) %}
                {% set url = '/' %}
                {% set urlCat = '/' %}
                {% if entity.type == types.news %}
                    {% set url = path_city('_news_single',{'_city':_city,'_locale':_locale, 'url': entity.url }) %}
                    {% set urlCat = path_city('_news_list',{'_city':_city,'_locale':_locale}) %}
                {% elseif entity.type == types.recipe %}
                    {% set url = path_city('_recipe_single',{'_city':_city,'_locale':_locale, 'url': entity.url }) %}
                    {% set urlCat = path_city('_recipe_list',{'_city':_city,'_locale':_locale}) %}
                {% endif %}
                <li>
                    <h3>
                        <a href="{{ url }}">{{ entity.name }}</a>
                    </h3>

                    <div class="cat">
                        <a href="{{ urlCat }}">{{ entity.getTypeName }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>