{% if etities|length > 0 %}
    <div class="recomend">
        <div class="heading">
            <h2>Мы рекомендуем</h2>
        </div>
        <ul>
            {% for entity in etities %}
                <li>
                    <div class="images">
                        {% if entity.getImageName %}
                            <img src="{{ vich_uploader_asset(entity, 'image') | apply_filter('chain_recommend') }}" alt="{{ entity.getImageName }}"/>
                        {% else %}
                            <img src="{{ 'images/303x208.png' | apply_filter('chain_recommend') }}" width="71" height="70" alt="default site logo 71x70"/>
                        {% endif %}
                    </div>
                    {% if entity.type == 3 or entity.type == 2 %}
                        <h3><a href="{{ path_city('_branches_all',{'chain_url':entity.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}">{{ entity.name }}</a></h3>
                        <div class="footer">
                            <ul class="stars">
                                {% for i in 1..5 %}
                                    <li class="ico-star {% if i > entity.getStarsByMaxRatingBranches(maxRatingChain) %} ico-star-empty{% endif %}"></li>
                                {% endfor %}
                            </ul>
                            <a href="{{ path_city('_chain_comments',{'chain_url':entity.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}" class="comment-link">{{ get_count_comment_by_chain(entity.id) }}</a>
                        </div>
                    {% else %}
                        <h3><a href="{{ path_city('_chain__delivery_single',{'chain_url':entity.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}">{{ entity.name }}</a></h3>
                        <div class="footer">
                            <ul class="stars">
                                {% for i in 1..5 %}
                                    <li class="ico-star {% if i > entity.getStarsByMaxRating(maxRatingDelivery) %} ico-star-empty{% endif %}"></li>
                                {% endfor %}
                            </ul>
                            <a href="{{ path_city('_chain_comments',{'chain_url':entity.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}" class="comment-link">{{ get_count_comment_by_chain(entity.id) }}</a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}