{% if entities|length > 0 %}
    <!--noindex-->
    <div class="slideshow">
        <div class="slideset">
            {% for entity in entities %}
                <div class="slide active">
                    {#<div class="text">#}
                    {#<h2>{{ entity.title }}</h2>#}
                    {#<em>{{ entity.text }}</em>#}
                    {#</div>#}
                    {%-if entity.getImageName is not null-%}
                        {% if entity.url|length > 1%}
                            <a href="{{ entity.url }}" {% if entity.target == true %}target="_blank"{% endif %} rel="nofollow" onclick="_gaq.push(['_trackEvent', 'Ссылка', 'Переход','{{ entity.name }}'])">
                                <img src="{{ vich_uploader_asset(entity, 'image') }}" alt="{{ entity.getImageName }}"/>
                            </a>
                        {% else %}
                            <img src="{{ vich_uploader_asset(entity, 'image') }}" alt="{{ entity.getImageName }}"/>
                        {% endif %}
                    {%-endif-%}
                </div>
            {% endfor %}
        </div>
        <div class="buttons">
            <a href="#" class="btn-prev" rel="nofollow">prev</a>
            <a href="#" class="btn-next" rel="nofollow">next</a>
        </div>
    </div>
    <!--/noindex-->
{% endif %}