{% extends "::base.html.twig" %}

{% block title %}{{ entity.getTitle }}{% endblock %}
{% block description %}{{ entity.getDescription }}{% endblock %}
{% block keywords %}{{ entity.getKeywords }}{% endblock %}

{% set _city = app.request.session.get('_city') %}

{% block body %}
    <div class="main">
        <div id="content">
            <div class="heading-page">
                <ul class="breadcrumbs">
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>{{ entity.name }}</li>
                </ul>
            </div>
            <div class="container container-text">
                {{ entity.text|raw }}
                <div style="margin: 20px auto;">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Pizzza - рецепты -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:468px;height:60px"
                         data-ad-client="ca-pub-6211321240304664"
                         data-ad-slot="9260331410"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
        {% render "MainBundle:PageLayout:sidebar" %}
    </div>
{% endblock %}
