{% set ratingChain = entityChain.getStarsByMaxRatingBranches(maxRatingChain) %}
{% if entityChain.getType == 1 %}
    {% set ratingChain = entityChain.getStarsByMaxRating(maxRatingDelivery) %}
{% endif %}
<div class="gholder">
    <h1>{{ entityChain.name }}</h1>
    <ul class="stars">
        {% for i in 1..5 %}
            <li class="ico-star {% if i > ratingChain %} ico-star-empty{% endif %}"></li>
        {% endfor %}
    </ul>
    <div class="sum-comment"><div>Отзывов: <strong>{{ get_count_comment_by_chain(entityChain.id) }}</strong></div></div>
    {% if entityChain.getImageName %}
        <img src="{{ vich_uploader_asset(entityChain, 'image') | apply_filter('chain_header') }}" style="max-width: 88px" height="35" alt="{{ entityChain.getImageName }}" class="thumb-heading"/>
    {% else %}
        <img src="{{ 'images/303x208.png' | apply_filter('discount_list') }}" style="max-width: 88px;" height="35" alt="default site logo 88x35" class="thumb-heading"/>
    {% endif %}
</div>