<ul class="navigation">
    <li {% if menu == "all" %}class="active"{% endif %}>
        <a href="{{ path_city('_chain_single',{'chain_url':entityChain.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}"><strong>Общая информация</strong></a>
    </li>
    {% if entityChain.getType == 3 or entityChain.getType == 2 %}
        <li {% if menu == "branches" %}class="active"{% endif %}>
            <a href="{{ path_city('_branches_all',{'chain_url':entityChain.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}"><strong>Пиццерии</strong></a>
        </li>
    {% endif %}
    {% if entityChain.getType == 3 or entityChain.getType == 1 %}
        <li {% if menu == "delivery" %}class="active"{% endif %}>
            <a href="{{ path_city('_chain__delivery_single',{'chain_url':entityChain.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}"><strong>Доставка</strong></a>
        </li>
    {% endif %}
    <li {% if menu == "comments" %}class="active"{% endif %}>
        <a href="{{ path_city('_chain_comments',{'chain_url':entityChain.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}"><strong>Отзывы</strong><span>({{ get_count_comment_by_chain(entityChain.id) }})</span></a>
    </li>
    <li {% if menu == "discount" %}class="active"{% endif %}>
        <a href="{{ path_city('_chain_discounts_list',{'chain_url':entityChain.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}"><strong>Акции</strong></a>
    </li>
    {% if entityChain.idForMenu > 0 %}
        <li {% if menu == "menu" %}class="active"{% endif %}>
            <a style="color: #f46c1a" href="{{ path_city('_chain__menu',{'chain_url':entityChain.url, '_city':app.request.attributes.get('_city'),'_locale':app.request.getLocale()}) }}"><strong>Заказать Пиццу</strong></a>
        </li>
    {% endif %}
</ul>