{% extends "MainBundle:PageLayout:base_admin.html.twig" %}
{% block javascripts %}
{% endblock %}
{%- set chain = current_chain()-%}
{% block body %}
<h3>Категории публикаций</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Lang</th>
            <th>
                <a class="btn btn-primary" href="{{ path('admin_type_publication_new') }}">Добавить</a>
            </th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.title }}</td>
            <td>{{ entity.lang }}</td>
            <td>
                <div>
                    <a class="btn" href="{{ path('admin_type_publication_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a>
                    <a class="btn" href="{{ path('admin_type_publication_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}