{% extends "::base.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}
{% block description %}{{ entity.description }}{% endblock %}
{% block keywords %}{{ entity.keywords }}{% endblock %}
{% set active = 3 %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="main">
        <div id="content">
            <div class="heading-page">
                <ul class="breadcrumbs">
                    <li><a href="/">Главная</a></li>
                    <li>Акции</li>
                </ul>
                <div class="gholder">
                    <h1>Акции пиццерий</h1>
                </div>
            </div>
            <div class="main-info">
                <div class="actions-list aktsii">
                    {% for entity in pagination %}
                        <div class="gholder">
                            <a href="{{ path_city('_discount_single', { 'chain_url': entity.getChain.url, 'dis_url': entity.url, '_city':_city,'_locale':_locale }) }}">
                                {% if entity.getImageName %}
                                    <img src="{{ vich_uploader_asset(entity, 'image') | apply_filter('discount_list') }}" style="max-width: 191px;" height="127" alt="{{ entity.getImageName }}" class="thumb" />
                                {% else %}
                                    <img src="{{ 'images/303x208.png' | apply_filter('discount_list') }}" style="max-width: 191px;" height="127" alt="image description" class="thumb" />
                                {% endif %}
                            </a>
                            <div class="holder">
                                <h2>
                                    <a href="{{ path_city('_discount_single', { 'chain_url': entity.getChain.url, 'dis_url': entity.url, '_city':_city,'_locale':_locale }) }}">{{ entity.name }}</a>
                                </h2>
                                <p>{{ entity.shortText }}</p>
                                <div class="meta">
                                    <a href="{{ path_city('_chain_single',{'chain_url':entity.getChain.url, '_city':_city,'_locale':_locale}) }}" class="cat">{{ entity.getChain.name }}</a>
                                    <em class="date">{{ entity.timeWork }}</em>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="gholder">
                            <h1>В этом городе нету акций или в этом переводе</h1>
                        </div>
                    {% endfor %}
                </div>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        {% render "MainBundle:PageLayout:sidebar" %}
    </div>
{% endblock %}
