{% extends "::base.html.twig" %}

{% block title %}{{ entityDiscount.getTitle }}{% endblock %}
{% block description %}{{ entityDiscount.getDescription }}{% endblock %}
{% block keywords %}{{ entityDiscount.getKeywords }}{% endblock %}

{% set _city = app.request.session.get('_city') %}

{% set active = 3 %}

{% block body %}
    <div class="main">
        <div id="content">
            <div class="heading-page">
                <ul class="breadcrumbs">
                    <li>
                        <a href="\">Главная</a>
                    </li>
                    <li>
                        <a href="{{ path_city('_discounts_list',{'_city':_city,'_locale':_locale}) }}">Акции</a>
                    </li>
                    <li>
                        <a href="{{ path_city('_chain_single',{'chain_url':entityChain.url, '_city':_city,'_locale':_locale}) }}">{{ entityChain.getName }}</a>
                    </li>
                    <li>{{ entityDiscount.getName }}</li>
                </ul>
                <div class="gholder">
                    <h1>{{ entityDiscount.getName }}</h1>
                    <a href="{{ path_city('_chain_single',{'chain_url':entityChain.url, '_city':_city,'_locale':_locale}) }}" class="some-cat">{{ entityChain.getName }}</a>
                </div>
            </div>
            <div class="main-info">
                <div class="actions-list aktsii aktsii-single">
                    <div class="single-article">
                        {% if entityDiscount.getTimeWork|length > 4 %}
                            <div class="time">{{ entityDiscount.getTimeWork }}</div>
                        {% endif %}
                        {% if entityDiscount.getImageName %}
                            <img src="{{ vich_uploader_asset(entityDiscount, 'image') | apply_filter('discount_page') }}" width="596" alt="{{ entityDiscount.getImageName }}" class="thumb" />
                        {% endif %}
                        <p>{{ entityDiscount.getText }}</p>
                    </div>
                </div>
            </div>
            {% if entitiesDiscounts %}
                <div class="another-article">
                    <div class="heading">
                        <h2>Другие акции от {{ entityChain.getName }}</h2>
                    </div>
                    <div class="content">
                        {% for entity in entitiesDiscounts %}
                            <div class="block">
                                <a href="{{ path_city('_discount_single', { 'chain_url': entityChain.url, 'dis_url': entity.url, '_city':_city }) }}">
                                    {% if entity.getImageName %}
                                        <img src="{{ vich_uploader_asset(entity, 'image') | apply_filter('discount_list') }}" style="max-width: 191px;" height="127" alt="{{ entity.getImageName }}" />
                                    {% else %}
                                        <img src="{{ 'images/303x208.png' | apply_filter('discount_list') }}" style="max-width: 191px;" height="127" alt="image description" class="thumb" />
                                    {% endif %}
                                </a>
                                <h3>
                                    <a href="{{ path_city('_discount_single', { 'chain_url': entityChain.url, 'dis_url': entity.url, '_city':_city }) }}">{{ entity.getName }}</a>
                                </h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="another-article">
                <div class="heading">
                    <h2>Интересные акции</h2>
                </div>
                <div class="content">
                    {% for entity in entitiesOthers %}
                        <div class="block">
                            <a href="{{ path_city('_discount_single', { 'chain_url': entity.chain.url, 'dis_url': entity.url, '_city':_city }) }}">
                                {% if entity.getImageName %}
                                    <img src="{{ vich_uploader_asset(entity, 'image') | apply_filter('discount_list') }}" style="max-width: 191px;" height="127" alt="{{ entity.getImageName }}" />
                                {% else %}
                                    <img src="{{ 'images/303x208.png' | apply_filter('discount_list') }}" style="max-width: 191px;" height="127" alt="image description" class="thumb" />
                                {% endif %}
                            </a>
                            <h3>
                                <a href="{{ path_city('_discount_single', { 'chain_url': entity.chain.url, 'dis_url': entity.url, '_city':_city }) }}">{{ entity.getName }}</a>
                            </h3>
                            <div class="name">
                                <a href="{{ path_city('_chain_single',{'chain_url':entity.chain.url, '_city':_city,'_locale':_locale}) }}">{{ entity.chain.name }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% render "MainBundle:PageLayout:sidebar" %}
    </div>
{% endblock %}
