{% extends "::base.html.twig" %}

{% block title %}{{ entityDiscount.getTitle }}{% endblock %}
{% block description %}{{ entityDiscount.getDescription }}{% endblock %}
{% block keywords %}{{ entityDiscount.getKeywords }}{% endblock %}

{% set _city = app.request.session.get('_city') %}

{% set active = 3 %}

{% block body %}
    <div class="main">
        <div id="content">
            <div class="heading-page">
                <ul class="breadcrumbs">
                    <li>
                        <a href="\">Главная</a>
                    </li>
                    <li>
                        <a href="{{ path_city('_discounts_list',{'_city':_city,'_locale':_locale}) }}">Акции</a>
                    </li>
                    <li>
                        <a href="{{ path_city('_chain_single',{'chain_url':entityChain.url, '_city':_city,'_locale':_locale}) }}">{{ entityChain.getName }}</a>
                    </li>
                    <li>{{ entityDiscount.getName }}</li>
                </ul>
                <div class="gholder">
                    <h1>{{ entityDiscount.getName }}</h1>
                    <a href="{{ path_city('_chain_single',{'chain_url':entityChain.url, '_city':_city,'_locale':_locale}) }}" class="some-cat">{{ entityChain.getName }}</a>
                </div>
            </div>
            <div class="main-info">
                <div class="actions-list aktsii aktsii-single">
                    <div class="single-article">
                        <div class="time">{{ entityDiscount.getTimeWork }}</div>
                        {% if entityDiscount.getImageName %}
                            <img src="{{ vich_uploader_asset(entityDiscount, 'image') }}" width="596" height="290" alt="{{ entityDiscount.getImageName }}" class="thumb" />
                        {% endif %}
                        <p>{{ entityDiscount.getText }}</p>
                    </div>
                </div>
            </div>
            {% if entitiesDiscounts %}
                <div class="another-article">
                    <div class="heading">
                        <h2>Другие акции от {{ entityChain.getName }}</h2>
                    </div>
                    <div class="content">
                        {% for entity in entitiesDiscounts %}
                            <div class="block">
                                {% if entity.getImageName %}
                                    <img src="{{ vich_uploader_asset(entity, 'image') }}" width="191" height="127" alt="{{ entity.getImageName }}" />
                                {% endif %}
                                <h3>
                                    <a href="{{ path_city('_discount_single', { 'chain_url': entityChain.url, 'dis_url': entity.url, '_city':_city }) }}">{{ entity.getName }}</a>
                                </h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="another-article">
                <div class="heading">
                    <h2>Похожие акции</h2>
                </div>
                <div class="content">
                    <div class="block">
                        <img src="/images/img-20.jpg" width="191" height="127" alt="image description" />
                        <h3><a href="#">Живая пицца от Il Molino</a></h3>
                        <div class="name">
                            <a href="#">Il Molino</a>
                        </div>
                    </div>
                    <div class="block">
                        <img src="/images/img-21.jpg" width="191" height="127" alt="image description" />
                        <h3><a href="#">Супер-скидка 20 % от Pizza House на все меню</a></h3>
                        <div class="name">
                            <a href="#">Pizza House</a>
                        </div>
                    </div>
                    <div class="block">
                        <img src="/images/img-19.jpg" width="191" height="127" alt="image description" />
                        <h3><a href="#">Бесплатная ночная доставка от Е-pizza</a></h3>
                        <div class="name">
                            <a href="#">E-Pizza</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% render "MainBundle:PageLayout:sidebar" %}
    </div>
{% endblock %}
